@import '../reset.scss';

body {
  width: 400px;
  line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span,
li {
  font-family: Roboto, system-ui, sans-serif;
}

#container {
  padding: 8px;
}

#summary,
#active-notifications {
  line-height: 1.5em;
  font-size: 14px;

  h2 {
    font-weight: bold;
    font-size: 14px;
  }

  .timecard-dynamic-value {
    color: red;
    font-weight: bold;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

    .left {
      font-size: 0;
      line-height: 0;
      margin-right: 20px;
    }

    .right {
      flex: 1;
    }
  }
}

.hidden {
  display: none;
}

#week-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: black;
  padding: 8px;

  #week-selector-date {
    font-size: 14px;
    font-weight: bold;
    color: white;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    color: white;
    position: relative;

    .notification {
      position: absolute;
      top: -3px;
      right: -3px;
      background-color: red;
      border-radius: 8px;
      width: 8px;
      height: 8px;
      display: none;
    }

    &.has-notification {
      .notification {
        display: block;
      }
    }

    .fa-regular {
      display: inline-block;
    }

    .fa-solid {
      display: none;
    }

    &.disabled {
      opacity: 0;
      cursor: default;
    }

    &:hover {
      .fa-regular {
        display: none;
      }

      .fa-solid {
        display: inline-block;
      }
    }
  }
}
#active-notifications {
  margin-top: 10px;

  .status {
    font-size: 32px;
    color: red;
  }

  p {
    font-size: 11px;
    color: #4b0cf5;
  }

  ul {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3em;
    color: red;
  }
}

#links {
  text-align: center;
  margin-top: 10px;

  p {
    display: inline-block;
    margin-right: 10px;

    a,
    a:visited,
    a:active,
    a:hover {
      font-weight: bold;
      font-size: 28px;
      color: black;
      text-decoration: none;
    }
  }
}

#loading {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

  i {
    font-size: 28px;
    color: black;
  }
}
