#download {
  margin-top: 20px;
}

#download a {
  padding: 20px;
  background-color: rgb(75, 12, 245);
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}
