@import '../reset.scss';

body {
  margin: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
button {
  font-family: Roboto, system-ui, sans-serif;
}

label.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 2em;
  cursor: pointer;
}

p {
  &.heading {
    margin-bottom: 10px;
    font-weight: bold;
  }

  &.memo {
    margin-top: 5px;
    font-size: 11px;
    color: rgb(97, 97, 97);
  }
}

#tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: -1px;

  a,
  a:visited,
  a:active {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto, system-ui, sans-serif;
    border-radius: 4px 4px 0 0;
    color: rgb(26, 115, 232);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(218, 220, 224);
    background-color: white;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin-right: 12px;
    box-sizing: border-box;
    height: 34px;

    span {
      margin-left: 6px;
    }

    &:hover {
      background-color: rgb(248, 250, 254);
      border-color: rgb(210, 227, 252);
    }

    &.selected {
      border-width: 1px 1px 0 1px;
    }
  }
}

section {
  margin-bottom: 10px;
  padding: 11px 10px 10px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(218, 220, 224);
  border-radius: 0 4px 4px 4px;

  &.hidden {
    display: none;
  }
}

#gif-selector,
#sound-selector {
  display: grid;
  grid-template-columns: repeat(8, 36px);
  justify-content: space-between;
  width: calc((36px * 8) + (7 * 12px));
  row-gap: 12px;
  margin: 12px auto;
}

#gif-selector img,
#sound-selector img {
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  cursor: pointer;
}

#gif-selector img.selected,
#sound-selector img.selected {
  border: 2px solid red;
}

#gif-input-label,
#sound-input-label {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

#gif-input,
#sound-input {
  display: none;
}

#gif-input-add-icon,
#sound-input-add-icon {
  width: 34px;
  height: 34px;
  background: black;

  border-radius: 50%;
  width: 34px;
  height: 34px;
  background-color: rgb(44, 108, 128);
}

#gif-input-add-icon::before,
#sound-input-add-icon::before {
  content: '+';
  height: 34px;
  width: 34px;
  font-size: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: courier;
  color: white;
}

.checkbox-wrapper {
  display: inline-block;
}

.checkbox-wrapper input[type='checkbox'] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper .toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .toggle:before {
  content: '';
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9a9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.checkbox-wrapper .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.checkbox-wrapper .toggle span:before {
  content: '';
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgb(26, 115, 232);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

.checkbox-wrapper input:checked + .toggle:before {
  background: rgba(26, 115, 232, 0.5);
}

.checkbox-wrapper input:checked + .toggle span {
  background: rgb(26, 115, 232);
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

.checkbox-wrapper :checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

#buttons {
  text-align: right;
}

#save {
  display: inline-block;
  border-radius: 4px;
  color: rgb(26, 115, 232);
  border: 1px solid rgb(218, 220, 224);
  background-color: white;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;

  &:hover {
    background-color: rgb(248, 250, 254);
    border: 1px solid rgb(210, 227, 252);
  }

  &:disabled {
    cursor: default;
    color: rgb(129, 134, 138);
    background-color: white;
    border: 1px solid rgb(241, 243, 244);
  }
}

#version {
  font-size: 11px;
  text-align: center;
  color: rgba(154, 153, 153, 0.7);
  font-style: italic;
}

.day-selector {
  display: flex;
  flex-direction: row;

  button {
    height: 60px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 14.2%;

    color: rgb(26, 115, 232);
    border-style: solid;
    border-color: rgb(218, 220, 224);
    border-width: 1px;
    border-left-width: 0;
    background-color: white;
    padding: 0;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgb(248, 250, 254);
      border-color: rgb(210, 227, 252);
    }

    &.selected {
      background-color: rgb(237, 242, 252);
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
      border-left-width: 1px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
      border-right-width: 1px;
    }
  }
}

.time-selector {
  display: flex;
  align-items: center;

  .time-selector-label {
    display: flex;
    align-items: center;

    .label-text {
      font-size: 12px;
      font-weight: bold;
      margin-right: 10px;
      font-family: Roboto, system-ui, sans-serif;
    }
  }

  .time-picker-input {
    display: flex;
    align-items: center;
    font-family: Roboto, system-ui, sans-serif;
    font-weight: bold;
    font-size: 13px;
    height: 30px;

    .hour-selector,
    .minute-selector {
      box-sizing: border-box;
      color: rgb(26, 115, 232);
      border-style: solid;
      border-color: rgb(218, 220, 224);
      border-width: 1px;
      background-color: white;
      border-radius: 4px;
      padding: 0;
      cursor: pointer;
      font-size: 13px;
      font-weight: bold;
      width: 30px;
      height: 30px;
      text-align: center;
      outline: none;

      &:hover,
      &:focus,
      &:active {
        background-color: rgb(248, 250, 254);
        border-color: rgb(210, 227, 252);
      }
    }

    .hour-selector {
      margin-right: 5px;
    }

    .minute-selector {
      margin-left: 5px;
    }

    .am-pm-selector {
      margin-left: 5px;
      display: flex;
      flex-direction: column;

      button {
        height: 15px;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 30px;
        color: rgb(26, 115, 232);
        border-style: solid;
        border-color: rgb(218, 220, 224);
        border-width: 1px;
        background-color: white;
        padding: 0;
        cursor: pointer;
        font-size: 11px;
        font-weight: bold;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: rgb(248, 250, 254);
          border-color: rgb(210, 227, 252);
        }

        &.selected {
          background-color: rgb(237, 242, 252);
        }

        &:first-child {
          border-radius: 4px 4px 0 0;
          border-bottom-width: 0.5px;
        }

        &:last-child {
          border-radius: 0 0 4px 4px;
          border-top-width: 0.5px;
        }
      }
    }
  }
}

#weekly-due-date {
  .day-selector {
    margin-top: 10px;

    button {
      height: 30px;
    }
  }

  .time-selector {
    justify-content: flex-end;
    margin-top: 5px;
  }
}

.time-selections {
  display: flex;
  justify-content: space-between;
}

.day-selector {
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 12px;
  text-align: center;

  &.hidden {
    display: none;
  }
}

#clock-daily-reminder {
  .error {
    margin-bottom: 5px;
  }
}

#clock-end-of-week,
#clock-end-of-month {
  .error {
    margin-top: 5px;
  }
}

#clock-daily-reminder,
#clock-end-of-week {
  margin-bottom: 10px;
}
